.xiaoguo {
  width: 100%;
  position: relative;
  background: #eaeaea;
  padding-bottom: rem(10);
}

.content {
  .main {
    width: 94%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    margin-bottom: rem(10);

    figure {
      width: 49%;
      text-align: center;
      margin-top: rem(10);
      background: #fff;

      img {
        width: 100%;
      }

      figcaption {
        line-height: rem(28);
      }

      p {
        line-height: rem(28);
        font-size: rem(14);
        color: #999;
      }
    }
  }

  .page {
    background: #fff;
  }
}


.bottom {
  height: rem(145);
  background: #fff;
  padding: rem(12);
  margin-top: rem(10);

  p {
    line-height: rem(25);
    text-indent: 2em;
    color: #999;
    margin-bottom: #fff;
    letter-spacing: 2px;
  }
}